<template>
  <div>
    <nuxt-link to="/">Home</nuxt-link>
  <Table></Table>
  </div>
</template>

<script>

export default {
  components: {
    Table: () => import('~/components/Table.vue')
  }
}

</script>

<style>

</style>

