<template>
  <div class="edit">
      <div>
        <span>name</span>
        <input type="text" name="name" id=""
        v-bind:placeholder="string.name"
        v-model="string.name"
        
      >
      </div>
      <div
        v-bind:class="{error: string.minsumError}"
      >
        <span>minsum</span>
        <input type="text" name="" id="min_sum"
        v-bind:placeholder="string.min_sum"
        v-model="string.min_sum"
      >
      </div>
      <div
        v-bind:class="{error: string.maxsumError}"
      >
        <span>maxsum</span>
        <input type="text" name="" id="max_sum"
        v-bind:placeholder="string.max_sum"
        v-model="string.max_sum"
      >
      </div>
      <div
        v-bind:class="{error: string.mrtgError}"
      >
        <span>mrtgrate</span>
        <input type="text" name="" id="mrtg_rate"
            v-bind:placeholder="string.mrtg_rate"
            v-model="string.mrtg_rate"
      >
      </div>
      
      <div>
          <span>frequency</span>
            <select name="" id="">
                <option
                v-bind:selected="index == string.pfr"
                :key="option"
                v-for="(option,index) in frequency"
                >
                {{ option }}
                </option>
            </select>
      </div>
      <button
        @click="submit()"
      >Submit</button>
      {{test | nn}}
  </div>
  
</template>

<script>
import {nn} from "@/helpers"
export default {
  data() {
    return {
      string: null,
      frequency: null,
      test: '1234039.02'
    }
  },
  async fetch ({store, route, commit}) { 
    if (!store.state.table.length) {
        await store.dispatch('GET_TABLE')
        await store.dispatch('GET_FREQUENCY')
    }
  },
  methods: {
    submit() {
      if(nn(this.string.min_sum)) {
      } else {
        this.string.minsumError = true;
      }
      if(nn(this.string.max_sum)) {
      } else {
        this.string.maxsumError = true;
      }
      if(nn(this.string.mrtg_rate)) {
      } else {
        this.string.mrtgError = true;
      }
    }
  },
  created() {
    const id = this.$route.params.id;
    this.string = this.$store.state.table.filter(function(el) {
        return el.id == id;
    })[0];
    this.frequency = this.$store.state.frequency;
    nn('test');
  },
  filters: {
    nn:  (str) => {
      return nn(str)
    }
  }
}
</script>

<style>
    .edit  {
        display: flex;
    }
    .error {
      border-color: red;
    }
</style>