<template>
  <div>
    <input type="text" name="name"
      v-model="username"
      placeholder="Name"
    >
    <input type="password" name="pass"
      v-model="password"
      placeholder="Password"
    >
    <button
      @click.prevent="login()"
    >Login</button>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        username: '',
        password: ''
      }
    },
    methods: {
      async login() {
        try {
          let response = await this.$auth.loginWith('local', { data: this.login })
          console.log(response)
        } catch (err) {
          console.log(err)
        }
      }
    },
  }
</script>


<style>

</style>

