<template>
  <div>
    <table>
      <thead>
        <th>Название</th>
        <th>Минимальная сумма</th>
        <th>Максимальная сумма</th>
        <th>Процентная ставка</th>
        <th>Частота выплат</th>
      </thead>
      <tbody>
        <tr
          v-for="string in table"
          :key="string.id"
          v-bind="table"
        >
          <td>
            {{ string.name }}
          </td>
          <td>
            {{ string.min_sum }}
          </td>
          <td>
            {{ string.max_sum }}
          </td>
          <td>
            {{ string.mrtg_rate }}
          </td>
          <td>
            {{ frequency[string.pfr] }}
          </td>
          <td>
            <router-link
              v-bind="string"
              :key="string.id"
              :to="{ name: 'table-edit-id', params: { id: string.id }}"
              >{{string.id}}
          </router-link><br>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</template>

<script>
export default {
  beforeMount() {
    this.$store.dispatch('GET_TABLE', 1);
    this.$store.dispatch('GET_FREQUENCY');
  },
  computed: {
    table() {
      return this.$store.state.table;
    },
    frequency() {
      return this.$store.state.frequency;
    }
  }
}
</script>


<style>

</style>

