<template>
  <div class="edit"> 
      <Edit></Edit>
  </div>
</template>

<script>
export default {
  components: {
    Edit: () => import('~/components/Edit.vue')
  },
  data() {
      return {
          name: null,
          minsum:null,
          maxsum:null,
          mrtgrate:null,
          frequency: null,
          id: this.$route.params.id
      }
  },
  async fetch ({store, route, commit}) { 
    if (!store.state.table.length) {
        await store.dispatch('GET_TABLE')
        await store.dispatch('GET_FREQUENCY')
    }
},
  computed: {
      string() {
        const id = this.$route.params.id;
        return this.$store.state.table.filter(function(el) {
        return el.id == id;
        })[0];
      },
      storeFrequency() {
        return this.$store.state.frequency;
      }
  }
}
</script>

<style>
    
</style>

