<template>
  <div>
    <a href="#"
      v-if="this.$store.state.auth.loggedIn == true"
      @click.prevent="logout()"
    >Logout</a>
    <nuxt/>
  </div>
</template>

<script>
export default {
  methods: {
    async logout() {
      try {
        let response = await this.$auth.logout()
      } catch (err) {}
    }
  }
}
</script>

<style>

</style>

