<template>
  <div>
    <nuxt-link to="/table"
      v-if="this.$store.state.auth.loggedIn == true"
    >Table</nuxt-link>
    <nuxt-link to="/login"
      v-if="this.$store.state.auth.loggedIn !== true"
    >Login</nuxt-link>
    
    <div>Table-test app</div>  
  </div>
</template>

<script>

export default {
  
}

</script>

<style>

</style>



